<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Admin - Evernet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <style>
        html * {
            font-family: "Inconsolata", serif;
        }
    </style>
    <script type="text/javascript">
        if (localStorage.getItem("adminToken")) {
            window.location.href = "/admin/nodes";
        }
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Evernet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-danger" href="/join" style="margin-right: 0.7rem;">Sign Up</a>
                <a class="btn btn-dark" href="/login">Login</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="margin-top: 7rem;">
        <div class="col-lg-4 offset-lg-4 text-center">
            <div id="content"></div>
        </div>
    </div>
</div>

{% raw %}
<script type="text/x-handlebars-template" id="init-form-template">
    <h3>Initialize Vertex</h3>
    <hr>
    <form>
        <div id="init-message"></div>
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="identifier" placeholder="identifier">
            <label for="identifier" class="form-label">Administrator identifier</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="password" class="form-control" id="password" placeholder="Password">
            <label for="password" class="form-label">Administrator Password</label>
        </div>
        <button class="btn btn-secondary w-100" id="init-btn">Setup Vertex</button>
    </form>
</script>
<script type="text/x-handlebars-template" id="login-template">
    <h3>Login As Administrator</h3>
    <hr>
    <form>
        <div id="login-message"></div>
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="login-identifier" placeholder="identifier">
            <label for="login-identifier" class="form-label">Administrator identifier</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="password" class="form-control" id="login-password" placeholder="Password">
            <label for="login-password" class="form-label">Administrator Password</label>
        </div>
        <button class="btn btn-primary w-100" id="login-btn">Login As Admin</button>
    </form>
</script>
{% endraw %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"
        integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="/static/js/init.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript">

    let body = $("body");

    const initFormTemplate = Handlebars.compile($('#init-form-template').html());
    const loginTemplate = Handlebars.compile($('#login-template').html());

    $(document).ready(function () {

        callIsInit(function (data) {
            if (!data.init) {
                $("#content").append(initFormTemplate());

            } else {
                $("#content").append(loginTemplate());
            }
        })

        body.on("click", "#init-btn", function (e) {
            e.preventDefault();

            let identifier = $("#identifier").val();
            let password = $("#password").val();

            if (identifier === "") {
                displayError($("#init-message"), "Identifier is required")
                return
            }

            if (password === "") {
                displayError($("#login-message"), "Password is required")
                return
            }

            callAdminInit(identifier, password, function (data) {
                $("#content").html(loginTemplate())
                displaySuccess($("#login-message"), "Vertex initialized successfully, login to continue")
            }, function (data) {
                displayError($("#init-message"), data.responseJSON.message)
            })

        })

        body.on("click", "#login-btn", function (e) {
            e.preventDefault()

            let identifier = $("#login-identifier").val();
            let password = $("#login-password").val();

            if (identifier === "") {
                displayError($("#login-message"), "Identifier is required")
                return
            }

            if (password === "") {
                displayError($("#login-message"), "Password is required")
                return
            }

            callAdminLogin(identifier, password, function (data) {
                localStorage.setItem('adminToken', data.token)
                window.location = "/admin/nodes"
            }, function (data) {
                displayError($("#login-message"), data.responseJSON.message)
            })
        })
    })
</script>
</body>
</html>