<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Node Administration - Evernet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <style>
        html * {
            font-family: "Inconsolata", serif;
        }
    </style>
    <script type="text/javascript">
        if (!localStorage.getItem("adminToken")) {
            window.location.href = "/admin";
        }
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Evernet Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/nodes">Nodes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/members">Members</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/admin/account">Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="margin-top: 3rem;">
        <div class="col-lg-8 offset-lg-2">
            <div class="row">
                <div class="col-lg-9">
                    <h3 id="name">{{ identifier }}</h3>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-primary float-end" type="button" data-bs-toggle="modal"
                            data-bs-target="#update-node-modal">Edit
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td><b class="fw-bold">Display Name</b></td>
                            <td id="display-name"></td>
                        </tr>
                        <tr>
                            <td><b class="fw-bold">Description</b></td>
                            <td id="description"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="margin-top: 2rem;">
                <div class="col-lg-12">
                    <h5>Danger Zone</h5>
                    <hr>
                    <button class="btn btn-danger" data-bs-target="#delete-node-modal" data-bs-toggle="modal">Delete
                        Node
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-node-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Node</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="update-node-message"></div>
                <form>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="update-node-display-name"
                               placeholder="Node Display Name">
                        <label for="update-node-display-name" class="form-label">Node Display Name</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <textarea class="form-control" id="update-node-description" placeholder="Node Description"
                                  style="height: 100px"></textarea>
                        <label for="update-node-description" class="form-label">Node Description</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="update-node-btn">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-node-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Node</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="delete-node-message"></div>
                <p>Are you sure you want to permanetly delete this node?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delete-node-btn">Delete Node</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"
        integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="/static/js/init.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript">
    const nodeIdentifier = "{{ identifier }}"
    $(document).ready(function () {
        callGetNode(nodeIdentifier, function (data) {
            $("#update-node-display-name").val(data.display_name);
            $("#update-node-description").val(data.description);
            $("#description").html(data.description);
            $("#display-name").html(data.display_name);
        })

        $("#update-node-btn").click(function (e) {
            e.preventDefault()
            let displayName = $("#update-node-display-name").val();
            let description = $("#update-node-description").val();

            if (displayName === '') {
                displayError($("#update-node-message"), "Display name is required")
                return
            }

            callUpdateNode(nodeIdentifier, displayName, description, function (data) {
                displaySuccess($("#update-node-message"), "Changes saved successfully")
                $("#display-name").html(displayName);
                $("#description").html(description);
            }, function (data) {
                displayError($("#update-node-message"), data.responseJSON.message)
            })
        })

        $("#delete-node-btn").click(function (e) {
            e.preventDefault()

            callDeleteNode(nodeIdentifier, function (data) {
                window.location.href = "/admin/nodes"
            }, function (data) {
                displayError($("#delete-node-message"), data.responseJSON.message)
            })
        })

    })
</script>
</body>
</html>