<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Sign Up - Evernet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <style>
        html * {
            font-family: "Inconsolata", serif;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Evernet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-danger" href="/join" style="margin-right: 0.7rem;">Sign Up</a>
                <a class="btn btn-dark" href="/login">Login</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="margin-top: 5rem;">
        <div class="col-lg-4 offset-lg-4">
            <h3>Sign Up For A New Account</h3>
            <hr>
            <div id="message"></div>
            <form>
                <div class="mb-3">
                    <select class="form-select" aria-label="Select Node" id="node">
                        <option value="" selected disabled>Select Node</option>
                    </select>
                </div>
                <div class="mb-3 form-floating">
                    <input type="text" class="form-control" id="identifier" placeholder="Identifier">
                    <label for="identifier" class="form-label">Identifier</label>
                </div>
                <div class="mb-3 form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    <label for="password" class="form-label">Password</label>
                </div>
                <div class="mb-3 form-floating">
                    <input type="text" class="form-control" id="type" placeholder="Type">
                    <label for="type" class="form-label">Type</label>
                </div>
                <div class="mb-3 form-floating">
                    <input type="text" class="form-control" id="display-name" placeholder="Display Name">
                    <label for="display-name" class="form-label">Display Name</label>
                </div>
                <div class="mb-3 form-floating">
                    <textarea class="form-control" id="description" placeholder="Description"
                              style="height: 100px;"></textarea>
                    <label for="description" class="form-label">Description</label>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100" id="join-btn">Sign Up For A New Account</button>
                </div>
                <a href="/login" class="btn btn-link w-100">Already have an account? Login now.</a>
            </form>
        </div>
    </div>
</div>

{% raw %}
<script type="text/x-handlebars-template" id="nodes-template">
    {{#each nodes}}
        <option value="{{identifier}}">{{display_name}}</option>
    {{/each}}
</script>
{% endraw %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"
        integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="/static/js/init.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript">
    const nodesTemplate = Handlebars.compile($("#nodes-template").html());

    $(document).ready(function () {
        callFetchNodes(0, 0, function (data) {
            $("#node").append(nodesTemplate({nodes: data}));
        })

        $("#join-btn").click(function (e) {
            e.preventDefault()

            let nodeIdentifier = $("#node").val()
            let identifier = $("#identifier").val()
            let password = $("#password").val()
            let type = $("#type").val()
            let displayName = $("#display-name").val()
            let description = $("#description").val()

            if (nodeIdentifier === "") {
                displayError($("#message"), "Node is not selected")
                return
            }

            if (identifier === "") {
                displayError($("#message"), "Identifier is required")
                return
            }

            if (password === "") {
                displayError($("#message"), "Password is required")
                return
            }

            if (type === "") {
                displayError($("#message"), "Type is required")
                return
            }

            if (displayName === "") {
                displayError($("#message"), "Name is required")
                return
            }

            callActorSignup(nodeIdentifier, identifier, password, type, displayName, description, function (data) {
                displaySuccess($("#message"), "Signup is successful, please <a href='/login'>login</a> to continue")
            }, function (data) {
                displayError($("#message"), data.responseJSON.message)
            })
        })
    })
</script>
</body>
</html>